@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    font-family: 'Montserrat' sans-serif;
}

.header{
    font-weight: 600;
    font-size: 50px;
}
.line2{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.self{
    background-color: #26BDD2;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3.5px;
    padding: 5px 25px 5px 25px;
}
.mins img{
    margin-right: 10px;
}
.img-para{
    display: flex;
    overflow: hidden;
}

.box{
    width: 450px;
    height: 400px;
    text-align: center;
    font-size: 40px;
    float: left ;
    margin-right: 30px;
}
.box img{
    width: 100%;
}
.play{
    clear: right;
    text-align: justify;
}