:root {
    --primary: #26bdd2;
    --white: #ffffff;
    --royal-blue: #262dd2;
    --royal-purple: #6726d2;
    --royal-pink: #d22697;
    --royal-green: #26d22d;
    --royal-yellow: #d2a126;
    --black-text-colour: #2b2a2a;
  }